<h1>Camera: <%= @bag.cameras.size %> Lens: <%= @bag.lenses.size %></h1>
<%= bag.cameras.each do |camera|%>
	<h2><%= camera.name %></h2>
	<% camera.lenses.each do |lens|%>
		<h3><%= lens.name %></h3>
	<% end %>
<% end %>
