<h1>Bag Type: <%= @bag.bag_type %></h1>
<h4><a href="/bags/<%= @bag.id %>/edit">Edit This Bag</a></h4>
<br>

<h2>Camera: <%= @bag.cameras.size %></h2>
<ul>
<% @bag.cameras.each do |camera|%>
	<h4><%= camera.name %></h4>
	<br>
<% end %>
</ul>

<h2>Lens: <%= @bag.lenses.size %></h2>
<ul>
<% @bag.lenses.each do |lens|%>
	<h4><%= lens.name %></h4>
	<br>
<% end %>
</ul>

<h4>Total Weight: <%= bag_weight(@bag) %>g</h4>
