<h1><%= @bag.bag_type %></h1>
<a href="/bags/<%= @bag.id %>/edit">Edit This Bag</a>
<br>
<h1>Camera: <%= @bag.cameras.size %></h1>
<% @bag.cameras.each do |camera|%>
	<h2><%= camera.name %></h2>
<% end %>
<h1>Lens: <%= @bag.lenses.size %></h1>
<% @bag.lenses.each do |lens|%>
	<h2><%= lens.name %></h2>
<% end %>
<h3>Total Weight: <%= bag_weight(@bag) %>g</h3s>
<br>


